.text-putih{
    color: #FFF;
}

.bg-abu-g{
background: #e2e2e2; /* Old browsers */
}

.bg-putih{
    background-color: #fff;
}
.bg-abu{
    background-color: #eee;
}

.bg-merah{
    background: #cc0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc0000 0%, #cc0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cc0000 0%,#cc0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */

}

.bg-orange{
    background: rgb(255,116,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,116,0,1) 0%, rgba(255,116,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,116,0,1)), color-stop(100%,rgba(255,116,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,116,0,1) 0%,rgba(255,116,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,116,0,1) 0%,rgba(255,116,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,116,0,1) 0%,rgba(255,116,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,116,0,1) 0%,rgba(255,116,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#ff7400',GradientType=0 ); /* IE6-9 */

}
.bg-hijau{
background: #006e2e; /* Old browsers */
background: -moz-linear-gradient(-45deg, #006e2e 0%, #006e2e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#006e2e), color-stop(100%,#006e2e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #006e2e 0%,#006e2e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #006e2e 0%,#006e2e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #006e2e 0%,#006e2e 100%); /* IE10+ */
background: linear-gradient(135deg, #006e2e 0%,#006e2e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-violet{
    background: rgb(119,28,65); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(119,28,65,1) 2%, rgba(114,65,84,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(2%,rgba(119,28,65,1)), color-stop(99%,rgba(114,65,84,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(119,28,65,1) 2%,rgba(114,65,84,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(119,28,65,1) 2%,rgba(114,65,84,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(119,28,65,1) 2%,rgba(114,65,84,1) 99%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(119,28,65,1) 2%,rgba(114,65,84,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#771c41', endColorstr='#724154',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-hijau2{
    background: #24bd8e; /* Old browsers */
    background: -moz-linear-gradient(top,  #24bd8e 0%, #24b5b5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#24bd8e), color-stop(100%,#24b5b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #24bd8e 0%,#24b5b5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #24bd8e 0%,#24b5b5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #24bd8e 0%,#24b5b5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #24bd8e 0%,#24b5b5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24bd8e', endColorstr='#24b5b5',GradientType=0 ); /* IE6-9 */
}

.bg-kuning{
    background: #d9a301; /* Old browsers */
    background: -moz-linear-gradient(top,  #d9a301 0%, #d9a301 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9a301), color-stop(100%,#d9a301)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d9a301 0%,#d9a301 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d9a301 0%,#d9a301 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d9a301 0%,#d9a301 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d9a301 0%,#d9a301 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9a301', endColorstr='#d9a301',GradientType=0 ); /* IE6-9 */

}

.bg-merahjambu{
    background: rgb(255,63,45); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,63,45,1) 0%, rgba(255,63,45,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,63,45,1)), color-stop(100%,rgba(255,63,45,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,63,45,1) 0%,rgba(255,63,45,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,63,45,1) 0%,rgba(255,63,45,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,63,45,1) 0%,rgba(255,63,45,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,63,45,1) 0%,rgba(255,63,45,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3f2d', endColorstr='#ff3f2d',GradientType=0 ); /* IE6-9 */

}

.bg-merahjambu2{
    background: rgb(204,0,0); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(204,0,0,1) 0%, rgba(204,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(204,0,0,1)), color-stop(100%,rgba(204,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(204,0,0,1) 0%,rgba(204,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(204,0,0,1) 0%,rgba(204,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(204,0,0,1) 0%,rgba(204,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(204,0,0,1) 0%,rgba(204,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-biru{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a4d80+0,1a4d80+100 */
background: rgb(26,77,128); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(26,77,128,1) 0%, rgba(26,77,128,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(26,77,128,1) 0%,rgba(26,77,128,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(26,77,128,1) 0%,rgba(26,77,128,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a4d80', endColorstr='#1a4d80',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.bg-coklat{
background: #eab92d; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #eab92d 0%, #c79810 53%, #c79810 84%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#eab92d), color-stop(53%,#c79810), color-stop(84%,#c79810)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #eab92d 0%,#c79810 53%,#c79810 84%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #eab92d 0%,#c79810 53%,#c79810 84%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #eab92d 0%,#c79810 53%,#c79810 84%); /* IE10+ */
background: linear-gradient(135deg,  #eab92d 0%,#c79810 53%,#c79810 84%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}
